#synopsis_settings {
    display: flex;
    flex-direction: column;
}

#synopsis_contents {
    field-sizing: content;
    max-height: 50dvh;
}

#synopsis_restore {
    width: max-content;
}

label[for="synopsis_frozen"],
label[for="synopsis_skipWIAN"] {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

label[for="synopsis_frozen"] input {
    margin-right: 10px;
}

.synopsis_contents_controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.synopsis_disabled_hint {
    margin-left: 2px;
}

#synopsisSettingsBlock {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

#synopsisExtensionPopout {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}